.footer .container {
	max-width: 110.375rem;
}

.footer {
	background-color: #0E1438;
	color: #ffffff;
	padding: 4.25rem 0 4.25rem 0;
	font-family: Open Sans Regular;
	border-top: 13px solid #FFB900;
	text-align: left;
}

.footer .footer__container {
	display: flex;
    /** max-width: 108.5rem;**/
	margin: 0 auto;
	justify-content: space-between;
	flex-direction: column;
}

.footer .footer__item {
	margin: 2%;
    /**max-width: 23rem;**/
	flex: 1 0 21%;
}

.footer .footer__title {
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 1.25rem;
	font-family: Open Sans Bold;
	margin-top: 30px;
}

.footer .footer__subTitle {
	font-size: 1.25rem;
	font-family: Open Sans Bold;
	margin-bottom: 13px;
}

.footer .footer__list-container {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .footer__list {
	display: flex;
	padding: 0;
	text-align: left;
	padding: 0 0 14px 0;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.footer .footer__icon {
	margin-right: 15px;
	color: #ffffff;
	font-size: 20px;
	position: relative;
	top: 3px;
}

.footer .footer__link {
	text-decoration: none;
	color: #ffffff !important;
	font-size: 20px;
}

.footer .footer__link:hover {
	outline: none;
	color: #FFB900 !important;
	transition: ease .2s;
}

.footer .footer__link:focus {
	outline: none;
	color: #FFB900 !important;
}

.footer .footer__horizontal-line {
	color: #4D4D4D;
	height: 0.1875rem;
}

.footer .footer__bottom {
	display: flex;
	flex-direction: column;
}

.footer .footer__copyright {
	margin-bottom: 40px;
	width: 100%;
}

.footer .footer__logo {
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

.footer .footer__logo img {
	width: auto;
}

.footer .footer__copyright-text {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.footer .footer__copyright-text > p {
	color: #ffffff;
	margin-bottom: 0.3125rem;
	font-family: Open Sans Italic;
	font-style: italic;
}

.footer .footer__social-icons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .social-icons__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .icons__list {
	display: inline-block;
	width: 50px;
}

.footer .icon__link {
	text-decoration: none;
	font-size: 2rem;
	color: #ffffff;
	/* margin-left: 1.75rem; */
}

.footer .icon__link:hover {
	outline: none;
	color: #FFB900;
	transition: ease .2s;
}

/* Tablet */
@media only screen and (min-width:48rem) {


	.footer .footer__bottom {
		flex-direction: row;
	}

	.footer .footer__container {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.footer .footer__item {
		width: 46%;
	}

	.footer .footer__copyright {
		width: 50%;
	}

	.footer .footer__logo img {
		max-width: 97px;
	}

	.footer .footer__social-icons {
		width: 50%;
		justify-content: end;
	}
}

/* Desktop */
@media only screen and (min-width:64rem) {
	.footer .footer__container {
		flex-direction: row;
	}

	.footer .footer__item {
		width: auto;
	}

	.footer .footer__bottom {
		flex-direction: row;
	}

	.footer .footer__logo img {
		width: 97px;
	}

	.footer .footer__copyright {
		width: 50%;
	}

	.footer .footer__social-icons {
		width: 50%;
		justify-content: end;
	}
}
