<!--/*
*  ***********************************************************************
*  Adobe CONFIDENTIAL
*  ___________________
*
*  Copyright 2019 Adobe
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Adobe and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Adobe
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Adobe.
*  ***********************************************************************
*/-->
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"	data-emptytext="Calendar"></div>
<div data-sly-use.calendar="com.adobe.aem.lacounty.dpss.core.models.CalendarModel"
 class="calendar__content" id="${currentNode.parent.parent.name}-${currentNode.parent.name}-${currentNode.name}"
 data-listpath="${calendar.listPath @ context='attribute'}" data-sly-test="${calendar.listPath}" data-pagepath="${currentPage.path @ context='attribute'}">
    <div class="calendar__title">
    <div class="styled-select">
            <select class="dpss-miniCalendarTag" aria-label="Calendar Select" tabindex="0">
                <option data-sly-test="${calendar.tagsList.size > 0}"
                data-sly-repeat.item="${calendar.tagsList}"
                value="${item.tagName == 'dpss' || '' ? '' : item.tagName}" selected="${item.tagName == 'dpss' ? 'selected' : ''}">${item.tagTitle}</option>
            </select>
        </div>
        <div class="search-form__element">
            <form id="dpss-miniCalendarSearchForm">
                <label for="dpss-miniCalendarSearch">
                  Search Events
                    <input type="search" id="dpss-miniCalendarSearch" name="search-events"
                        placeholder="${'searchEvents' @ i18n}" aria-label="${'searchEvents' @ i18n}" />
                    <button class="btn-search-visible-hidden">
                      <span class="fa fa-search"></span>
                    </button>
                </label>
            </form>
        </div>
    </div>
   <div id="dpss-detailCalendarDiv"></div>
    <ul class="mini__CalendarEventList" id="dpss-miniCalendarEventList"></ul>
</div>
