<div data-sly-use.footer="com.adobe.aem.lacounty.dpss.core.models.FooterModel">
    <h3>${footer.title}</h3>
    <h3>${footer.address}</h3>
    <h3>${footer.phone}</h3>
    <h3>${footer.email}</h3>


    ===========================================

    <div data-sly-list.item="${footer.externalLinks}">

        <p> Link Text : <b>${item.linkText} </b></p>
        <p> Link URL : <b>${item.linkURL} </b></p>

    </div>

    ===============================================

   <div data-sly-list.item="${footer.bureausLinks}">

        <p> Link Text : <b>${item.Blinktext} </b></p>
        <p> Link URL : <b>${item.blinkURL} </b></p>

    </div>

    =================================================

     <div data-sly-list.item="${footer.policyLinks}">

        <p> Link Text : <b>${item.Plinktext} </b></p>
        <p> Link URL : <b>${item.plinkURL} </b></p>

    </div>

    ========================================================

    <h4>${footer.tagline}</h3>
    <h3>${footer.copyrights}</h3>
    <h3>${footer.reserved}</h3>
     <img src="${footer.logo}">
    <h3>${footer.logolink}</h3>

</div>





